@import url(https://fonts.google.com/specimen/Young+Serif?preview.size=18);
* {
    margin: 0;
    padding: 0;
    font-family:'Young Serif';

}


.titulo {
    
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-decoration-color: rgb(12, 68, 117);
    text-size-adjust: 200%;
    background-color: #1916dbbb;
    background-repeat: no-repeat;
    background-size:cover;
    width: 140px;
    height: 50px;
    position:sticky;
}
.inicio{
    background-size: cover;
    width: 1440px;
    height: 785px;
}

.nav-container {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav{
    background-color: #6a6e0dbb;
    text-indent: 20px;
    text-align:justify;
    text-shadow: 12px;
    font-size: 62px;
    width: 100%;  
}
.play{
    margin-right:500px;
    text-decoration: none;
    -webkit-text-fill-color:wheat;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;

}
.login{
    text-decoration: none;
    -webkit-text-fill-color:wheat;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
}
.aboutus{
    margin-right: 40px;
    text-decoration: none;
    -webkit-text-fill-color:wheat;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1.5px;
    
}
.esto{
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-decoration-color: rgb(12, 68, 117);
    text-size-adjust: 200%;
    background-color: #d11a1abb;
    background-repeat: no-repeat;
    background-size:cover;
    width: 1440px;
    height: 500px;
    position:sticky;
}

.img1{
text-decoration: none;
margin-right: 20px;
width: 150px;
height: 50px;
}